body{
	padding: 0;
	margin: 0;
	font-family: Arial;
	background-color: #3F2740;
}
/*Nav Bar styles*/
.Header {
	background-color: #000000;
	color: #FC9CFF;
	display:block;
	text-align: center;
	font-weight: bold;
}
/*Navigation bar*/
.navigation-left {
  display: inline-block;
  text-align: left;
}
.navigation-right {
  display: inline-block;
  text-align: right;
}
.Navigation {
	list-style: none;
	padding-left: 0;
}

ul {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
.Navigation h1 {
  font-size: 3em;
}
.Navigation li a {
	font-size: 18px;
	font-style: normal;
	color: #fff;
	text-decoration: underline;
}
.Navigation li {
	padding-right: 18px;
	display: inline-block;
	text-decoration: none;
}
.Navigation li a:hover{
	color: #fff;
	text-decoration: underline;
}
.Navigation li a:active{
	color: #fff;
	text-decoration: none;
}
/*Floating labels form*/
.chat-icon{
	padding: 20px;
	font-size:50px;
}
.contact-form-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 60%;
	padding: 40px;
	background: rgba(0,0,0,.6);
	box-sizing: border-box;
	box-shadow: 0 10px 10px rgba(0,0,0,.5);
	border-radius: 20px;
}
.contact-form-container h1{
	text-align: center;
	margin: 0 0 30px;
	color: #fff;
}
.contact-form-container .input-field{
	position: relative;
}
.contact-form-container .input-field input{
	width: 100%;
	border-radius: 10px;
	padding:10px 0;
	font-size: 16px;
	color: #000;
	margin-bottom: 30px;
	border: none;
	outline: none;
}
.contact-form-container .input-field label{
	position: absolute;
	top: 0;
	left: 0;
	letter-spacing: 3px;
	padding: 10px 10px 10px 10px;
	font-size: 16px;
	color: #000;
	pointer-events: none;
	transition: 0.5s;
}
.contact-form-container .input-field input:focus ~ label,
.contact-form-container .input-field input:valid ~ label{
	top:-29px;
	left:0;
	color: #fff;
	font-size: 14px;
}
.contact-form-container input[type="submit"]{
	border: none;
	border-radius: 10px;
	font-size: 20px;
	font-family: Arial;
	padding: 10px 30px 10px 10px;
	background-color: #FC9CFF;
	display: block;
	outline:none;
}
.plane-icon{
    position: relative;
}
.plane-icon:after {
    font-family: FontAwesome;
    content: "\f1d8";
    font-size: 18px;
    position: absolute;
    top:-29px;
    left: 60px;
    pointer-events: none;
}

@keyframes rotate {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}
#github-button{
	background-color: #fff;
	transition: background 3s;
}
#github-button:hover {
  	background:
	linear-gradient(cyan, transparent),
	linear-gradient(-45deg, magenta, transparent),
	linear-gradient(45deg, yellow, transparent);
	background-blend-mode: multiply;
}

/*Media queries*/
@media all and (min-width: 480px) {
	/*Component styles*/
	.Card-info {
		min-height: 180px;
	}
	/*Grid styles*/
	.Grid-item {
		width: 48%;
	}
}
@media all and (max-width: 959px) {
	/*Global styles*/
	h1 {
		font-size: 60px;
	}
	p{
		font-size: 20px;
	}
}
@media all and (max-width: 640px) {
	/*Global styles*/
	.contact-form-container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 90%;
	}
	h1 {
		font-size: 2em;
	}
}